@import './style.scss';

main {
  $card-size: 150px;
  $card-gap: 30px;
  min-height: calc(100vh - 100px - 100px);

  background-color: $bg-accent;

  .inner {
    display: grid;
    grid-template-columns: repeat(3, 154px);
    height: 100vh;
    row-gap: $card-gap;
    column-gap: $card-gap;
    overflow: scroll;
    justify-content: space-evenly;
  }
  .vocabulary-box {
    width: $card-size;
    height: $card-size;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    border: 2px solid $primary-color;
    transition: 200ms;
    cursor: pointer;
    &#sample {
      display: none;
    }

    #title {
      color: $primary-color;
      font-size: 20px;
    }
    &:hover {
      transform: scale(0.95);
    }
  }
}
